* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px;
  background-color: black;
}

.pane {
  display: inline-block;
  vertical-align: top;
}

.console {
  width: 49%;
  background-color: darkblue;
  text-align: left;
  padding: 0.5%;
  color: white;
  font-weight: 900;
  font-size: 16px;
  height: 645px;
  overflow-y: auto;
}

input {
  color: white;
  background-color: inherit;
  border: none;
  vertical-align: top;
  font-weight: 900;
  font-size: 14px;
  margin-left: 5px;
  width: 95%;
}

input:focus, input:focus{
  outline: none;
}


.canvas-container {
  width: 49.5%;
  background-color: white;
  margin-left: 0.5%;
  text-align: center;
}

.examples {
  font-weight: 600;
  color: gray;
}

.code {
  color: #EA4335;
}
